# This is the main "Door of Doors" config file.
# Add your details below, rename this file "config.ini"

# You'll need to be signed-up/approached for each door server, of course:
#   Goldmine info: https://goldminebbs.com
#   BBSLink info: https://bbslink.net/

# Main program is ./door-of-doors

# For Gold Mine to work, you'll also need this in the same directory:
#   ./goldmine-connect

# For BBSLink, be sure this file is there as well:
#   ./bbslink.sh

##                                 
## General config                   
##                                      

title = "aLPHA's Door of Doors"     # Menu title, change if you want!

##
## Door Servers
##

[goldmine]
host = "165.232.153.209"    # Don't change
port = "513"                # Don't change
tag = "XX"                  # Replace "XX" with 2-3 characters, unique abbreviation for your BBS
enabled = true

[bbslink]
host = "games.bbslink.net"  # Don't change
syscode = " "					   
authcode = " "				 		
schemecode = " "	
enabled = true